@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CUSTOM CSS HERE */

h2 {
  font-size: 2em;
}

body {
  --main-bg-color: cadetblue;

  font-family: "Quicksand", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

#designElement {
  position: absolute;
  top: -60vh;
  left: -30vw;
  width: 150vw;
  height: 100vh;
  transform: rotate(-10deg);
  background-color: var(--main-bg-color);
  z-index: -1;
}

.portraitContainer {
  flex-shrink: 0;
  z-index: 2;
}

.portraitContainer h1 {
  position: absolute;
  text-align: center;
  font-size: 3em;  background-color: rgba(0, 0, 0, 0.432);
  font-weight: 400;
  color: white;
  transform: translate(20%, -160%);
}

.portraitContainer img {
  height: 500px;
}

.aboutMe {
  max-width: 630px;
  max-height: 90%;
  flex-shrink: 0;
  background-color: white;
  align-self: center;
  padding: 1rem 1rem 1rem 2rem;
  margin-left: -1rem;
  z-index: 1;
  box-shadow: 0px 0px 15px black;
}

.aboutMe p {
  padding-bottom: 2rem;
}

.aboutMe h2 {
  padding: 1rem 0 1rem 0;
}

.aboutMe .links {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 0 10px 10px 0;
}

.aboutMe .links img {
  min-height: 2rem;
}

main {
  max-width: 990px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

main h2 {
  margin-left: 2rem;
}

.workCards {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 21em;
  gap: 2rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.projScreen {
  height: 12rem;
  background-color: orange;
}

.projHeader {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 0.5rem 0;
}

.projHeader, .projMain {
  padding: 0 1rem 0 1rem;
}

.littleLogo {
  min-height: 1.5rem;
}

.projMain {
  font-size: 0.9rem;
}

footer {
  width: 100vw;
  background-color: var(--main-bg-color);
  padding: 3rem 0 3rem 0;

  display: flex;
  justify-content: center;
}

.contactCard {
  max-width: 330px;
  margin-left: 2rem;
}

.landscapePhoto {
  width: 620px;
  margin-right: 2rem;
}

.contactList {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.mail, .phone {
  display: flex;
  gap: 1em;
  align-items: center;
}

footer .links {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}

footer .contactList img {
  width: 2rem;
}

footer img {
  min-height: 2rem;  
}

footer p {
  margin-top: 2rem;
}

@media (max-width: 999px) and (min-width: 500px) {
  header {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .portraitContainer{
    position: relative;
    float: left;

    margin: -9rem 1rem 1rem 2rem;
  } 

  .portraitContainer img {
    height: 386px;
  }

  .portraitContainer h1 {
    transform: translate(14rem, -23rem);
    background-color: rgba(0, 0, 0, 0);
    max-width: 145px;
  }

  .aboutMe {
    margin-top: 13rem;
    margin-left: 6rem;
    margin-right: 2rem;

    max-width: 1000px;
  }

  .workCards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  footer {
    font-size: 0.9em;
    padding: 1rem;
  }

  .landscapePhoto {
    width: 305px;
  }

  main h2, .workCards {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mail, .phone {
    gap: 0.2rem;
  }

  .contactCard {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .landscapePhoto {
    margin-right: 1rem;
  }
}

@media (max-width: 499px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .portraitContainer img {
    height: auto;
    width: 85vw;
  }

  .aboutMe {
    box-shadow: none;
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0;
    padding-right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutMe .links img {
    min-height: 2em;
  }
}